.graph {
  position: relative;
  margin: 0 auto 24px;
  height: 12vh;
  width: 24vw;

  > div {
    float: left;
    color: white;

    &:nth-child(1) {
      background: red;
    }
    
    &:nth-child(2) {
      background: green;
    }
    
    &:nth-child(3) {
      background: blue;
    }
    
    &:nth-child(4) {
      background: grey;
    }
  }
}

