@import 'src/style/vars';

@mixin toggle-button() {
  height: 12px;
  width: 2px;
  position: absolute;
  content: '';
  background: $brand-blue;
  right: 16px;
  border-radius: 1px;
}

.expansion-panel {
  max-width: 480px;
  margin: 0 auto 24px;

  > .title {
    border-radius: 4px;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px 8px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.4s ease;
    line-height: 16px;
    position: relative;

    h2 {
      font-weight: bold;
      font-size: 14px;
      margin: 0;
    }

    &::before {
      @include toggle-button();
      transform: rotate(90deg);
    }

    &::after {
      @include toggle-button();
    }

    &.active::after {
      display: none;
    }

    &.grey {
      background: $brand-light-grey;
      color: $brand-blue;
    }

    &.blue {
      background: $brand-blue;
      color: white;

      &::before,
      &::after {
        background: #fff;
      }
    }
  }

  > .panel {
    transition-property: height;
    transition-timing-function: ease;
    overflow: hidden;
  }

  .panel-inner {
    padding: 8px;
  }
}
