.mouse {
  height: 240px;
  width: 240px;
  background-image: url('./mouse.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin: auto;
  position: relative;
}